<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant, class: 'btn btn-outline-primary'  %>
<%= link_to 'Show', @restaurant, class: 'btn btn-outline-primary'%>
<%= link_to 'Back', restaurants_path, class: 'btn btn-outline-primary'  %>
