<h1>New Restaurant</h1>

<%= render 'form', restaurant: @restaurant, class: 'btn btn-outline-primary'  %>
<div class="position-relative">
  <%= link_to 'Go Home!', restaurants_path, class: 'btn btn-outline-primary btn-lateral'%>
</div>
