.btn-lateral {
  top: -3.85rem;
  left: 11.5rem;
  position: absolute;
}

.btn-lateral-2 {
  top: -3.85rem;
  left: 18.6rem;
  position: absolute;
}

.btn-lateral-3 {
  top: 12.2rem;
  left: 10.7rem;
  position: absolute;
}
